# game-master用

# Secrets
**/.env
**/*.local.toml

.git

# build results
target

# Non-Rust directoris
projector
struckoutCameraApp
sandbox

# docs
docs
README.md

# stale rust packages
mcu

# local dependency overrides
.cargo/patches.toml

.states
